*{
    box-sizing: border-box;
}

html, body{
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;

    font-family: 'Roboto', sans-serif;

    background-color: #f9f9f9f9;
}

header{
    margin-bottom: 10px;
}
h1{
    margin-top: 70px;
    color: #000000cc;
    text-align: center;
    font-size: 3.3rem;
}


.form, .form-cad, .form-dep, main{
    margin: 0 auto 70px;
    width: 90%;
    max-width: 500px;
}
.form-cad{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    align-items: center;
    background-color: #ff4f4f;
    padding: 16px 64px;
    border-radius: 6px;
}

.form-dep{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    align-items: center;
    background-color: #ff4f4f;
    padding: 16px 64px;
    border-radius: 6px;
}

.form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    align-items: center;
    background-color: #ff4f4f;
    padding: 16px 64px;
    border-radius: 6px;
}

section input, section button{
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #ffffff88;

}

section label{
    color: white;
    text-transform: uppercase;
}
section input{
    background-color: transparent;
}

section input::placeholder{
    color: #ffffffaa;
}
section button{
    font-weight: bold;
    text-transform: uppercase;
    
}

.relatorio{
    border: 1px solid rgba(77, 69, 69, 0.89);
    border-radius: 4px;
    padding: 10px;
}
div.relatorio{
    transition: all 300ms;
}

div.relatorio.hide{
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}

.info{
    color: white;
}

span.info.hide1{   
    opacity: 0;
    
}
#name, #saldo-anterior, #saldo-atual{
    color: blue;
    font-weight: bold;
}

div.form-cad.hide{
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}